# Git
.git
.gitignore

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
*.tsbuildinfo

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Sistema
.DS_Store
Thumbs.db
